.party-nav {
  display: flex;
  justify-content: space-around;
}

.papo-brand {
  display: flex;
}

.brand-host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.brand-host a,
.brand-host h2 {
  font-size: 14px;
  color: #fafafa;
}

.videoUrl {
  display: flex;
}

.buttons-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.play-btn {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  border: none;
  color: #fafafa;
  width: 40px;
  padding: 0;
  margin-right: 10px;
  margin-left: 10px;
}

.chat-header {
  display: flex;
  justify-content: space-between;
  color: #fafafa;
}

.chat-header {
  padding-left: 10px;
}

.header-counter {
  display: flex;
  flex-direction: column;
  padding-right: 10px;
}

.header-counter img {
  width: 47px;
  height: 20px;
}

.header-counter h2 {
  font-size: 16px;
}

#playerArea {
  height: 90vh;
  width: 70vw;
}

#playerArea iframe {
  width: 106%;
  height: 98%;
}

.chat-user {
  display: flex;
  flex-direction: column;
}
.chat-msg {
  display: flex;
  flex-direction: row;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.usercounter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #333;
  background-color: #fafafa;
  border-radius: 4px;
}
